/*GENERAL SECTION : section that applies to every page */
:root{
    color-scheme: dark;
}
*{
    margin : 0;
    padding :0;
    box-sizing :border-box;
    text-decoration:none;
}
body{
    background-color: rgb(7, 3, 19);
    color : white;
    font-family: "CascadiaCode";
    user-select: none;
    font-size: 1.5vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
}
hr{
    width:98vw;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
p{
    font-size: 1.5rem;;
}

/*SPECIFIC SECTION : style that applies to only one page */

/*index.html*/
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.logo{
    display : flex;
    justify-content: center;
    height: 50vh;
    padding : 0 3rem 0 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap : 2vw;
    margin-top: -10vw;
    width: 25vw;
}
.name{
    font-size: 10vw;
}
.sloganBox{
    display : flex;
}
.slogan{
    width: 100%;
    height : 5vh;
    font-size: 3.5vh;
    white-space: pre;
}
.comment {
    display: inline; /* Ensure the comment stays on the same line */
    color: #999999;
    font-size: 3vh;
    font-weight: 300;
    background-color: transparent; /* Transparent background */
    margin-left: 0.5rem; /* Add spacing between the text and the comment */
}

/*projects.html*/
.project-img{
    height : 25vh;
}
.button{
    display: inline-block;
    font-size: 2.2vh;
    font-weight: 600;
    background: transparent;
    color: white;
    outline:none;
    border:none;
    margin-top:1.2vw;
    padding: 0.5rem;
    margin-left: -0.5rem;
}
.button:hover{
    background: #FFF;
    color: rgb(14, 21, 32);
    padding:0.5rem;
}
.vr-text{
    white-space: pre;
    font-family: monospace;
    line-height: 2.2vh;
    margin-left: -8vw;
    margin-right: 3vw;
}
.hr-text::after {
  content: "##############################################################################################"; /* Character-based line */
  width:100%;
  display: block;
  justify-self:baseline; /* Aligns the characters */
  font-family: monospace; /* Ensures consistent spacing */
  margin: 10px 0;
  margin-left: -2vw;
}

/*about.html*/
.people-presentation{
    display:flex;
    flex-direction: row;
}
.text-presentation{
    margin-left: 2rem;

    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 2rem;
}
.quick-look{
    display: flex;
    flex-direction: row;

    margin-bottom: 2rem;

    padding-left: 3rem;

    align-items: baseline;

    gap: 2rem;
}
.people-name{
    font-size: 3rem;
}
.people-photo{
    width:15vw;
}

/*credits.html*/
.projects-credits{
    display: flex;
}

/*MENU SECTION : everything related to the menu*/
.menu-item {
    display: inline-block;
    font-size: 2.2vh;
    font-weight: 600;
    background: transparent;
    color: white;
    margin: 0.8rem;
}
.menu-item.active {
    background: #FFF;
    color: rgb(14, 21, 32);
    padding: 0.8rem;
    margin: 0rem;
}

/*MEDIA QUERIES : to adapat every screens */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    /*index.html*/
    body{
        overflow: hidden;
    }
    header{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        gap : 5rem;
    }
    .logo{
        margin-top: -10vh;
        justify-content: center;
        align-items : center;
    }
    .text{
        margin-top: 0vh;
        width: 100vw;
        align-items: center;
    }
    .name{
        font-size: 10vh;
    }
    .slogan{
        padding-left: 2rem;
        font-size: 3vh;
        width: 100%;
    }
  }

/*FONT SECTION : every font is loaded here */
@font-face {
    font-family: CascadiaCode;
    src: url(font/cascadia-code/Cascadia.ttf);
}