:root{
    color-scheme: dark;
}
*{
    margin : 0;
    padding :0;
    box-sizing :border-box;
    text-decoration:none;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(14, 21, 32);
    color : white;
    font-family: "CascadiaCode";
    user-select: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.logo{
    display : flex;
    justify-content: center;
}
.logo-text{
    font-family: "CascadiaCode";
    font-size: 1vw;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap : 2vw;
    margin-top: -10vw;
    width: 25vw;
}
.name{
    font-size: 10vw;
}
.slogan{
    font-size: 1.5vw;
    width: 100%;
    height : 5vh;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        overflow: hidden;
    }
    header{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        gap : 5rem;
    }
    .logo{
        margin-top: -10vh;
        justify-content: center;
        align-items : center;
    }
    .logo-text{
        margin: none;
        padding: none;
        font-size: 2.5vw;
    }
    .text{
        margin-top: 0vh;
        width: 100vw;
        align-items: center;
    }
    .name{
        font-size: 10vh;
    }
    .slogan{
        padding-left: 2rem;
        font-size: 3vh;
        width: 100%;
    }
  }
/*
Font import section
*/
@font-face {
    font-family: CascadiaCode;
    src: url(font/cascadia-code/Cascadia.ttf);
}